{% block content %}
<div>
    <form method="POST" action="{% url 'post:post_filtered' %}">
        {% csrf_token %}
          <select name="material">
              <option value="all">전체</option>
              {% for material in materials %}
                  <option value="{{ material.matId.material }}">{{ material.matId.material }}</option>
              {% endfor %}
          </select>
          <select name="status">
              <option value="all">전체</option>
              <option value="like">좋아요</option>
              <option value="buy">살래요</option>
          </select>
          <button type="submit">검색</button>
    </form>

    <hr>
    {% if posts %}
        {% for post in posts %}
            <div>
                {{ post.title }}
            </div>
            <div>
                {% if post in request.user.like_posts %}
                    좋아요
                {% endif %}
            </div>

            <div>
                {% if post in request.user.buy_posts %}
                    살래요
                {% endif %}
            </div>
            <div>
                {% if post in request.user.bookmark_posts %}
                    북마크
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div>검색 결과가 없습니다.</div>
    {% endif %}
</div>
{% endblock %}