<div>
  {% if edit_mode %}
  <!--수정-->
    <form method="POST" action="{% url 'post:post_update' postId=post.pk %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div><input type="text" name="title" value="{{ post.title }}"/></div>
      <div><input type="textarea" name="content" value="{{ post.content }}"/></div>
      <div><input type="file" name="image" value="{{ post.image }}"></div>
      <div><input type="text" name="videoKey" value="{{ video.videoKey }}"/></div>
      <div><button type="submit">수정하기</button></div>
    </form>
  <!--생성-->
  {% else %}
    <form method="POST" action="{% url 'post:post_create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div><input type="text" name="title" value="{{ post.title }}" placeholder="제목을 입력해주세요."/></div>
      <div><input type="textarea" name="content" value="{{ post.content }}" placeholder="내용을 입력해주세요."/></div>
      <div><input type="file" name="image" value="{{ post.image }}"></div>
      <div><input type="text" name="videoKey" value="{{ video.videoKey }}" placeholder="비디오 키를 입력해주세요."/></div>
      <div><button type="submit">작성하기</button></div>
    </form>
  {% endif %}
</div>