{%load static%}
<!DOCTYPE html>

<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/board.css">
  <link rel="stylesheet" href="../../static/css/style.css">

</head>

<body>
  <div class="iphone-frame">
    <div class="all">
      <h1>재활용 게시판</h1>
      <form method="GET" action="{% url 'post:post_list'%}">
        {% csrf_token %}
        <button class="back" type="submit">
          <img src="{%static 'images/arrow.svg'%}" />
        </button>
      </form>





      {% if edit_mode %}
      <article>
        <!--수정-->
        <form method="POST" action="{% url 'post:post_update' postId=post.pk %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div><input type="text" name="title" class="title" value="{{ post.title }}"></div>

          <textarea type="textarea" name="content" value="{{ post.content }}"></textarea>
          <div class="filebox"><input type="file" name="image" value="{{ post.image }}">
            <input type="text" name="videoKey" value="{{ post.videoKey }}" />
          </div>

      </article>
      <button class="write" type="submit">수정하기</button>
      </form>

      <article>
        <!--생성-->
        {% else %}
        <form method="POST" action="{% url 'post:post_create' %}" enctype="multipart/form-data">
          {% csrf_token %}


          <input type="text" name="title" class="title" value="{{ post.title }}" placeholder="클릭하여 제목을 작성해 주세요">

          <textarea type="textarea" name="content" value="{{ post.content }}" placeholder="클릭하여 내용을 입력해 주세요"></textarea>
          <div class="filebox"><input type="file" class="file" name="image" value="{{ post.image }}">
            <input type="text" name="videoKey" value="{{ post.videoKey }}" placeholder="비디오 키를 입력해주세요." />
          </div>

      </article>
      <button class="write" type="submit">작성하기</button>
      </form>

      {% endif %}







    </div>
  </div>

</body>


</html>