<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트 화면입니다.(삭제예정)</title>
</head>
<body>
    <div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout'%}">로그아웃</a>
    {% else %}
        <a href="{% url 'login'%}">로그인</a>
        <a href="{% url 'signup'%}">회원가입</a>
    {% endif %}
    <div></div>
    {% if request.user.is_authenticated %}
        <span> 로그인 상태 : {{ request.user.username}}</span>
        {% else %}
        <span> 비로그인 상태</span>
        {% endif %}
    </div>
</body>
</html>