h1 {
  width: 229px;
  height: 31px;
  left: 82px;
  top: 65px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: Pretendard;
  font-weight: 700;
  word-wrap: break-word;
}

select.dropdown1 {
  height: 34px;
  left: 25px;
  width: 165px;
  top: 123px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #545454 solid;
}

select.dropdown2 {
  height: 34px;
  left: 205px;
  width: 165px;
  top: 123px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #545454 solid;
}

button.font {
  width: 305px;
  left: 44px;
  top: 192px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
h2 {
  left: 30px;
  top: 120px;
  position: absolute;
  color: #161616;
  font-size: 19px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 26.22px;
  word-wrap: break-word;
}
h3 {
  left: 27px;
  top: 150px;
  position: absolute;
  color: #161616;
  font-size: 19px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 26.22px;
  word-wrap: break-word;
}
p.content {
  left: 27px;
  top: 202px;
  position: absolute;
  color: #161616;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 18.76px;
  word-wrap: break-word;
}
p.hour {
  left: 280px;
  top: 120px;
  position: absolute;
  color: #777777;
  font-size: 10px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 13.8px;
  word-wrap: break-word;
}
img.content_img {
  width: 334px;
  height: 245px;
  left: 26px;
  top: 237px;
  position: absolute;
  background: #d9d9d9;
}

button.edit {
  width: 55px;
  height: 21px;
  left: 240px;
  top: 497px;
  position: absolute;
  color: #d9d9d9;
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  border-radius: 5px;
  border: 1px solid #a5ec5f;
  background: #f0ffe4;
}

h4 {
  left: 32px;
  top: 520px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
p.nick {
  left: 13px;
  top: 0px;
  width: 60px;
  position: absolute;
  color: #161616;
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 600;

  word-wrap: break-word;
  text-align: left;
}
p.time {
  left: 60px;
  top: 0px;
  position: absolute;
  color: #858585;
  font-size: 12px;
  font-family: Pretendard;
  font-weight: 400;
  word-wrap: break-word;
}
button.remove_comment {
  width: 55px;
  height: 21px;
  right: 0;
  top: 0px;
  position: absolute;
  color: #9c9b9b;
  font-size: 10px;
  font-family: Pretendard;
  font-weight: 400;
  word-wrap: break-word;
  border: 1px solid #a5ec5f;
  background: #f0ffe4;
}
p.comment_content {
  width: 340px;
  left: 20px;
  top: 20px;
  position: absolute;
  color: #161616;
  font-size: 12px;
  font-family: Pretendard;
  font-weight: 500;

  word-wrap: break-word;
  text-align: left;
}
article.bigbox {
  top: 550px;
  left: 25px;
  width: 336px;
  border-radius: 5px;
  border: 0px #545454 solid;
  /* line-height: 18.76px; */
  word-wrap: break-word;
  height: 200px; /* 세로 길이를 내용에 따라 자동으로 조절 */
  overflow: y-auto; /* 내용이 넘칠 때 스크롤 표시 */
  display: flex;
  flex-direction: column;
  text-align: center;
  -ms-overflow-style: none;
  /* width: 100%; */
  /* height: 410px; */
  /* padding: 20px; */
  position: absolute;
  margin: auto;
  box-sizing: border-box;
  margin-top: 30px;
  background-color: #fffefe;
}
article.bigbox2 {
  top: 190px;
  left: 25px;
  width: 336px;
  border-radius: 5px;
  border: 0px #545454 solid;
  /* line-height: 18.76px; */
  word-wrap: break-word;
  height: 500px; /* 세로 길이를 내용에 따라 자동으로 조절 */
  overflow: y-auto; /* 내용이 넘칠 때 스크롤 표시 */
  display: flex;
  flex-direction: column;
  text-align: center;
  -ms-overflow-style: none;
  /* width: 100%; */

  position: absolute;
  margin: auto;
  box-sizing: border-box;
  margin-top: 30px;
}
div.commentbox {
  width: 340px;
  height: 44px;
  top: 0px;
  position: absolute;
  background-color: #ffffff;
  word-wrap: break-word;
  margin-left: 0px;
  margin-top: 50px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #a5ec5f;
}
/* div.titlebox {
  width: 340px;
  height: 79px;
  top: 10px;
  position: absolute;
  background-color: none;
  word-wrap: break-word;
  margin-left: 0px;
  margin-top: 60px;
  display: flex;
} */
/* div.board {
  width: 334px;
  height: 700px;
  border-radius: 20px;
  border: 1px solid #a5ec5f;
  background-color: #ff6464;
  margin-left: 0px;
  margin-top: 60px;
  position: absolute;
  word-wrap: break-word;
  display: flex;
} */
button.btn-post {
  width: 330px;
  height: 92px;
  top: auto;
  border-radius: 20px;
  border: 1px solid #a5ec5f;
  background-color: #f0ffe4;
  margin-left: 0px;
  margin-top: 10px;
  position: relative;
  word-wrap: break-word;
  text-align: justify;
  display: flex;
}
/* 버튼 간의 간격을 조절합니다. */
button.board:nth-child(1) {
  left: 0px;
  top: 100px;
}

button.board:nth-child(2) {
  left: 0px;
  top: 200px; /* 예시: 두 번째 버튼은 첫 번째 버튼 아래에 위치하도록 조정 */
}
div.input-container {
  width: 340px;
  height: 44px;

  top: 570px;
  position: fixed; /* position을 fixed로 변경 */
  /* display: flex; */
  background-color: none;
  border: 1px solid #a5ec5f;
  border-radius: 5px;
  margin-left: 25px;
  /* margin-top: 550px; */
}

input.comment1 {
  width: 300px;
  height: 30px;
  left: 50px;
  top: 5px;
  position: absolute;
  border: none;
}
label.nonymous {
  left: 15px;
  top: 5px;
  color: #9c9b9b;
  font-size: 14px;
  font-family: Pretendard;
}
button.regi {
  width: 51px;
  height: 28px;
  top: 7px;
  left: 280px;
  position: absolute;
  background: #a5ec5f;
  border-radius: 5px;
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 19.32px;
  word-wrap: break-word;
  border-width: 0;
}
img.icon {
  width: 20px;
  height: 20px;
  position: absolute;
}
button.icon {
  width: 20px;
  height: 20px;
  left: 27px;
  top: 496px;
  position: absolute;
  border: none;
  background: none;
}
input.title {
  width: 312px;
  height: 50px;
  left: 32px;
  top: 134px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid #a5ec5f;
}

textarea {
  width: 312px;
  height: 400px;
  left: 30px;
  top: 210px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid #a5ec5f;
}
button.write {
  width: 312px;
  height: 50px;
  left: 30px;
  top: 670px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border: 1px solid #a5ec5f;
  background: #f0ffe4;
  border-radius: 5px;
}
button.writing {
  width: 163px;
  height: 34px;
  left: 114px;
  top: 721px;
  position: absolute;
  background: #f0ffe4;
  border: 1px solid #a5ec5f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
button.back {
  width: 12px;
  height: 21px;
  left: 22px;
  top: 95px;
  position: absolute;
  background: none;
  border: none;
}
div.filebox {
  width: 312px;
  height: 50px;
  left: 30px;
  top: 614px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-size: 12;
  font-family: Pretendard;
  border-radius: 5px;
}

div.nopost {
  width: 343px;
  height: 94px;
  left: 25px;
  top: 200px;
  position: absolute;
  font-size: 18px;
  font-family: Pretendard;
  font-weight: 400;
  text-align: center;
}

.topBar {
  background-color: white;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.back {
  width: 40px;
  height: 40px;
}

.logo {
  width: 40px;
  height: 40px;
  /* background-color: blue; */
}

.empty {
  width: 40px;
  height: 40px;
  /* background-color: blue; */
}

.boardImg2 {
  width: 40px;
}
