.container {
  width: 393px;
  height: 852px;
  /* background: red; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  text-align: center;
  -ms-overflow-style: none;
  overflow: hidden;

  margin: auto;

  /* 미디어 쿼리 적용
@media (hover: hover) {
  width: 390px;
  margin: 0 auto;
}

&::-webkit-scrollbar {
  display: none;
} */
}

.bodyWrapper {
  flex: 1;
  overflow: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.topBar {
  background-color: white;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.back {
  width: 40px;
  height: 40px;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: blue;
}

.empty {
  width: 40px;
  height: 40px;
  background-color: blue;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 393px;
  height: 80px;
  border-top: 1px solid #a5ec5f;
  border-bottom: 1px solid #a5ec5f;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.boardImg {
  width: 30px;
}

.Btn {
  width: 80px;
}

.save {
  position: relative;
  width: 327px;
  height: 44px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: #000000;

  margin-top: 40px;
  margin-bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.saveBox {
  width: 354px;
  height: 130px;
  border-radius: 20px;
  border: 1px solid #a5ec5f;
  background: #f0ffe4;
  margin: auto;
  margin-top: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #728263;
}

.img {
  position: absolute;
  width: 120px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #a5ec5f;
  margin-top: 15px;
  margin-left: -160px;
  object-fit: cover;
}

.saveTitle {
  position: absolute;
  width: 190px;
  height: 28px;
  margin-top: 30px;
  margin-left: 150px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;

  color: #728263;
}

.saveWriter {
  position: absolute;
  width: 190px;
  height: 28px;
  margin-top: 70px;
  margin-left: 150px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;

  color: #728263;
}
