<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {{ cId }}
    {{ request.user.cSelect }}
    {% if check %}
    <div> 챌린지 성공</div>
    {% else %}
    <div> 챌린지 결과 대기중</div>
    <form method="POST">
        {% csrf_token %}
        <div> 챌린지 진행 확인하기</div>
        <div><button type = 'submit'> 확인</button></div>
    </form>
    {% endif %}
    {% if cImage %}
        <image src="{{ cImage.url }}" class="img"></image>
    {% else %}
        <image src=""></image>  <!-- 챌린지 사진 업로드 전 보여줄 디폴트 이미지 -->
    {% endif %}
    

   
</body>
</html>