{%load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{%static 'css/chall.css'%}">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
  <div class="iphone-frame">
    <div class="all">
      <h1>챌린지</h1>
      <p class="line"></p>
      <form method="POST" action="{% url 'challenge:challenge_upload' Id=id%}" enctype="multipart/form-data">
        <button class="challenge" id="Button1">
          {% csrf_token %}
          {{ cId }}
        </button>

        <button class="theme">
          <!-- <button class="theme" id="selectButton"> -->
          <input type="file" name="cImage" value="{{ post.image }}">

        </button>


        <button class="mission" type='submit'>
          작성하기
        </button>
      </form>




      {% include 'footer.html' %}
    </div>
  </div>
  <script src="random.js"></script>
</body>

</html>