{%load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{%static 'css/chall.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
    <div class="iphone-frame">
        <div class="all">
            <h1>챌린지</h1>
            <p class="line"></p>


            <form method="POST">
                {% csrf_token %}

                <button class="challenge" id="Button1">
                    {{ cId }}
                    {{ request.user.cSelect }}
                </button>

                <button class="theme" type="submit">재선택<button>
            </form>

            <form method="GET" action="{% url 'challenge:challenge_upload' Id=id %}">
                {% csrf_token %}

                <form><button class="mission" type='submit'>
                        미션 인증하기
                    </button></form>
            </form>




            {% include 'footer.html' %}
        </div>
    </div>

</body>

</html>