{%load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{%static 'css/chall.css'%}">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
  <div class="iphone-frame">
    <div class="all">
      <div class="topBar">
        <div class="back">
          <img src="{% static 'images/back.png' %}" class="back" onClick="goBack()" />
        </div>
        <div class="logo" onClick="goMain()">
          <image src="{% static 'images/logo.png' %}" class="boardImg2"></image>
        </div>
        <div class="empty"></div>
      </div>
      <h1>챌린지</h1>






      <button class="mission" type='submit' style="top:602px;">
        {% if check %}
        <div> 챌린지 성공</div>
        {% else %}
        <div> 챌린지 결과 대기중</div>
        <form method="POST">
          {% csrf_token %}


        </form>
      </button>
      {% endif %}








      <p class="line"></p>
      <button class="challenge" id="Button1" style="top:180px;">
        {{ cId }}
        {{ request.user.cSelect }}
      </button>
      </form>


      {% if cImage %}
      <img src="{{ cImage.url }}" style="width: 334px;
        height: 245px;
        left: 30px;
        top: 322px;
        position: absolute;" />



      <!-- {% else %} -->
      <!-- <image src=""></image> -->
      <!-- {% endif %} -->






      {% include 'footer.html' %}
    </div>
  </div>
  <script>
    function goMypage() {
      window.location.href = "/mypage/";
    }

    function goBack() {
      window.history.back();
    }

    function goMain() {
      window.location.href = "/main/";
    }
  </script>
</body>

</html>