<!DOCTYPE html>
<html>
<head>
    <title>Attendance Page</title>
</head>
<body>
    <h1>Welcome to the Attendance Page</h1>

    <p>Hello, {{ nickname }}!</p>

    <ul>
        {% for attendance in attendances %}
            <li>{{ attendance.attDate|date:"F d, Y" }}</li>
        {% empty %}
            <li>No attendances recorded for this month.</li>
        {% endfor %}
    </ul>
    <form method="get" action="{% url 'mypage:mypage' %}">
        <input type="submit" value="뒤로가기">
    </form>
</body>
</html>
