{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/bookmark.css" />
    <title>저장 목록</title>
  </head>
  <body>
    <div class="container">
      <div class="bodyWrapper">
        <a class="body">
          <div class="topBar">
            <div class="back">
              <img
                src="{% static 'images/back.png' %}"
                class="back"
                onClick="goBack()"
              />
            </div>
            <div class="logo" onClick="goMain()"><image
              src="{% static 'images/logo.png' %}"
              class="boardImg2" 
            ></image></div>
            <div class="empty"></div>
          </div>

          <div class="save">저장 목록</div>
          <!-- <div class="latest">최신순</div> -->

          {% for post in bookmarks %}
          <div class="saveBox">
            <image src="{{ post.image.url }}" class="img"></image>
            <div class="saveTitle">{{ post.title }}</div>
            <div class="saveWriter">{{ post.userId.nickname }}</div>
          </div>
          {% empty %}
          <p>No bookmarked posts yet.</p>
          {% endfor %}

          {% include 'footer.html' %}
        </div>
      </div>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }

      function goMain() {
        window.location.href = "/main/";
      }
    </script>
  </body>
</html>
