<!DOCTYPE html>
<html>
<head>
    <title>Challenge Page</title>
</head>
<body>
    <h1>Welcome to the Challenge Page</h1>

    <p>Hello, {{ nickname }}!</p>

    <h2>Your Ongoing Challenges</h2>
    <ul>
        {% for challenge in challenges %}
            <li>
                <strong>{{ challenge.cId.cName }}</strong>
                <p>Date: {{ challenge.cDate|date:"F d, Y" }}</p>
                <img src="{{ challenge.cImage.url }}">
                <p>State {{ challenge.cCheck }}</p> <!-- 챌린지 진행상태 넣을것인가 뺄것인가 -->
            </li>
        {% empty %}
            <li>No ongoing challenges at the moment.</li>
        {% endfor %}
    </ul>
    <form method="get" action="{% url 'mypage:mypage' %}">
        <input type="submit" value="뒤로가기">
    </form>
</body>
</html>
