<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>
<body>
    <h2>User Information</h2>
    <p>{{ nickname }}님</p>
    <p>Coins: {{ coin }}원</p>
    <p>환경을 사랑한지 {{ date }} 일</p>
    <p>나의 포스팅 {{ postcnt }} 건</p>
    <p>오늘 진행 중인 챌린지
        {% if c_empty %}
            <p>진행 중인 챌린지가 없습니다.</p>
        {% else %}
            <strong>{{ challenge.cId.cName }}</strong> <!-- 오늘 진행중인 챌린지 페이지로 넘길 것인가?? -->
            <img src="{{ challenge.cImage.url }}">
            <p>진행 상태 {{ challenge.cCheck }}</p>
        {% endif %}
    </p>
    <p>챌린지 성공률 {{ challenge_rate }} %</p>
    <form method="get" action="{% url 'mypage:challenge' %}">
        <input type="submit" value="챌린지 더보기">
    </form>
    <p>나의 저장 목록
        {% if b_empty %}
            <p>북마크한 글이 없습니다.</p>
        {% else %}
            <a href="{% url 'post:post_detail' bookmark.id %}">{{ bookmark.title }}</a>
            <p>{{ bookmark.content }}</p>
            <img src="{{ bookmark.image.url }}">
        {% endif %}
    </p>
    <form method="get" action="{% url 'mypage:bookmark' %}">
        <input type="submit" value="저장목록 더보기">
    </form>
    {% if attended %}
        <p>이미 출석을 완료하셨어요.</p>
    {% else %}
        <form method="post" action="{% url 'mypage:attendance' %}">
            {% csrf_token %}
            <input type="submit" value="출석">
        </form>
    {% endif %}
</body>
</html>
