{% load static %}
<style>
    .bottomBar {
        position: fixed;
        bottom: 0;
        width: 393px;
        height: 80px;
        border-top: 1px solid #a5ec5f;
        border-bottom: 1px solid #a5ec5f;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .boardImg {
        width: 30px;
    }

    .Btn {
        width: 80px;
    }
</style>
<div class="bottomBar">
    <div class="Btn" onclick="location.href='{% url 'post:post_list' %}'">
        <image src="{% static 'images/messages.png' %}" class="boardImg"></image>
        <div class="boardName">게시판</div>
    </div>
    <div class="Btn" onclick="location.href='{% url 'post:video_list' %}'">
        <image src="{% static 'images/home.png' %}" class="boardImg"></image>
        <div class="boardName">숏폼</div>
    </div>
    <div class="Btn" onclick="location.href='{% url 'challenge:challenge_home' %}'">
        <image src="{% static 'images/challenge.png' %}" class="boardImg"></image>
        <div class="boardName">챌린지</div>
    </div>
    <div class="Btn" onclick="location.href='{% url 'mypage:mypage' %}'">
        <image src="{% static 'images/user.png' %}" class="boardImg"></image>
        <div class="boardName">마이페이지</div>
    </div>
</div>