<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>

    <!-- Display the Weekly Material -->
    <h2>이번주 재료</h2>
    <p>{{ week_material }}</p>

    <!-- Display the Most Liked Posts -->
    <h2># 인기 많은</h2>
    <ul>
        {% for post in most_liked %}
            <li>
                <a href="{% url 'post:post_detail' post.id %}">{{ post.title }}</a>
                <p{{ post.userId.nickname }}></p>
                <img src="{{ post.image.url }}">
            </li>
        {% endfor %}
    </ul>
    <form method="get" action="{% url 'main:sort_like' %}">
        <input type="submit" value="좋아요 순 더보기">
    </form>

    <!-- Display the Most Buyed Posts -->
    <h2># 런칭 가능성 있는</h2>
    <ul>
        {% for post in most_buyed %}
            <li>
                <a href="{% url 'post:post_detail' post.id %}">{{ post.title }}</a>
                <p{{ post.userId.nickname }}></p>
                <img src="{{ post.image.url }}">
            </li>
        {% endfor %}
    </ul>
    <form method="get" action="{% url 'main:sort_buy' %}">
        <input type="submit" value="살래요 순 더보기">
    </form>
</body>
</html>
